// ==========================================================================
// Scrollbar
// ==========================================================================
::-webkit-scrollbar {
    margin-right: 5px;
    background-color: #eee;
    width: 12px;
}
::-webkit-scrollbar-track {
    @include box-shadow(#ccc 0 0 2px);
}
::-webkit-scrollbar-thumb {
    border: 1px #eee solid;
    @include border-radius(12px);
    background: #777;
    @include box-shadow(#555 0 0 8px inset);
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #bbb;
    @include box-shadow(#999 0 0 8px inset);
}
::-webkit-scrollbar-thumb:hover { background: #999 }