@import "compass";

@import "settings";
@import "foundation";

@import "typography";
@import "navigation";

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// For debugging
@import "holmes";