{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="no-sidebar">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <header role="banner">
        <div class="row">
            <div class="twelve columns">
                {% include header.html %}
            </div>
        </div>
    </header>
    <nav role="navigation" class="row">
        <div class="twelve columns">
            {% include navigation.html %}
        </div>
    </nav>
    <div id="main">
        <div id="content">
            <div class="row">
                <div class="twelve columns">
                    {{ content | expand_urls: root_url }}
                </div>
            </div>
        </div>
    </div>
    <footer role="contentinfo">
        <div class="row">
            <div class="twelve columns">
                {% include footer.html %}
            </div>
        </div>
    </footer>
    {% if page.front-page %}
        <script>
          Modernizr.load([
            {
              load: '//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js',
              complete: function() {
                if (!window.jQuery) {
                  return Modernizr.load('js/vendor/jquery-1.8.0.min.js');
                }
              }
            }, {
              load: ['js/plugins.js', 'js/main.js', 'js/front-page.js']
            }
          ]);
        </script>
    {% endif %}
    {% unless page.front-page %}{% include after_footer.html %}{% endunless %}
</body>
</html>